<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
	<title>Projekt PWI - Apollo</title>
</head>
<body>
	<div id = "main_text">
        The launch took place on July 16, 1969 from the Space Flight Center at Canaveral.
        Apollo 11 spent the flight on orbit around Earth, then went on a route of 384,400 km.
        Because the lander was located under the manned module, an operation was made to temporarily disconnect the lunar module,
        rotating the rest of the ship by 180 ° and re-joining the lander, which was now placed in the front.
        The details of this operation are discussed in the Flight to Moon orbit section of the Apollo Mission Profile.
        After three days Apollo 11 entered the orbit of the Moon. Armstrong and Aldrin went to the lunar module,
        who was disconnected and started a historic landing. Astronauts landed on the moon on July 20, 1969.
        Soon, Neil Armstrong gave the Earth joyful news - "The Eagle has landed". <br />
        
        There are a number of conspiracy theories that claim American landings of the Apollo program on the moon in 1969-1972
        they were a mystification. Proponents of this view believe that American astronauts did not land on the moon, and NASA faked photos,
        samples of lunar rocks and other evidence of this event.
	</div>
</body>
</html>