<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
	<title>Projekt PWI - Home</title>
</head>
<body>
	<div id = "main_text">
        The site was created for the purpose of passing the IPR subject.
        However, using the fact that this year is the 50th anniversary of the first landing of people on the moon, it will be devoted to the mission of Apollo XI. <br />
        In 1961, US President John F. Kennedy announced that Americans would land on the moon before the end of the decade.
        The engineers had to build a rocket strong enough to reach the moon and a space ship capable of doing this round trip.
        he experience of the creator of the V2 rocket, Wernher von Braun, proved to be helpful. A giant Saturn V rocket was built,
        which was supposed to carry Apollo spacecraft. The rocket with the crew module was 111 meters high,
        and the total take-off weight was almost 3000 tons. <br />
        The task was carried out in 1969 during the Apollo 11 mission. The Apollo program was continued until 1972 to carry out
        more accurate scientific exploration of the Moon. It is worth noting that the Americans landed on the Moon six times.
        The total cost of the program was $ 25.4 billion. The amount of material obtained and delivered to the Earth is 381.7 kg
        (over two thousand samples). The landing of a man on the moon required only six test flights.
	</div>
</body>
</html>