<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
	<title>Projekt PWI - Saturn</title>
</head>
<body>
	<div id = "main_text">
        <img src = "../Model/saturnV.jpg">
        Saturn V is one of the most technically advanced human creations in history.
        It was a 110-meter high rocket, 10 meters in diameter and able to carry 118 tons of cargo at the LEO.
        It uses F-1 and J-2 engines. During tests, the engine noise was audible within a radius of 80 km. <br />
        The Soviet answer to Saturn V was the N1 rocket. Saturn V was taller, heavier and produced a larger thrust during takeoff,
        but the first stage N1 had a larger diameter. The N1 rocket performed four test flights before the end of the program,
        but all ended in failure. The first Saturn V stage had 5 F-1 engines with enormous power,
        while N1 was equipped with 30 small engines. During two starts, Apollo 6 and Apollo 13 there was a decrease in the power of one of the engines,
        but the computer managed to align the string. N1 was designed in a hurry and the engines were never tested at the same time,
        which caused catastrophes during takeoffs. If the first stage N1 was tested separately,
        these shortcomings could be avoided. <br/>
        On the right side there is a photo of the Saturn V rocket model made of LEGO bricks.
	</div>
</body>
</html>