<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
	<title>Projekt PWI - Apollo</title>
</head>
<body>
	<div id = "main_text">
        Start nastąpił 16 lipca 1969 z Centrum Lotów Kosmicznych na Canaveral. 
        Początek lotu Apollo 11 spędził na orbicie okołoziemskiej, następnie udał się w trasę liczącą 384 400 km. 
        Ponieważ lądownik znajdował się pod modułem załogowym, wykonano operację polegającą na tymczasowym odłączeniu modułu księżycowego, 
        obrocie reszty statku o 180° i ponownym przyłączeniu lądownika, który teraz umieszczony był z przodu. 
        Szczegóły tej operacji są omówione w podrozdziale Lot do orbity Księżyca rozdziału Profil misji Apollo. 
        Po trzech dniach Apollo 11 wszedł na orbitę Księżyca. Armstrong i Aldrin przeszli do modułu księżycowego, 
        który został odłączony i rozpoczął historyczne lądowanie. Astronauci wylądowali na Księżycu 20 lipca 1969 roku. 
        Wkrótce Neil Armstrong przekazał Ziemi radosną wiadomość – „Orzeł wylądował”.<br />

        Istnieje szereg teorii spiskowych twierdzących, że lądowania amerykańskich wypraw programu Apollo na Księżycu w latach 1969–1972 
        były mistyfikacją. Zwolennicy tego poglądu uważają, że amerykańscy astronauci nie wylądowali na Księżycu, a NASA sfałszowała zdjęcia, 
        próbki skał księżycowych i inne dowody tego wydarzenia.
	</div>
</body>
</html>