<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
	<title>Projekt PWI - Home</title>
</head>
<body>
	<div id = "main_text">
        Strona powstała na potrzeby zaliczenia przedmiotu PWI. 
        Korzystając jednak z faktu iż w tym roku jest 50 rocznica pierwszego lądowania ludzi na księżycu zostanie ona poświęcona misji Apollo XI.<br />
        W 1961 roku prezydent USA, John F. Kennedy ogłosił, że Amerykanie wylądują na Księżycu przed upływem dekady. 
        Inżynierowie musieli zbudować rakietę na tyle silną, by doleciała do Księżyca oraz statek kosmiczny zdolny odbyć tę podróż w obie strony. 
        Pomocne okazały się doświadczenia twórcy rakiety V2, Wernhera von Brauna. Zbudowano gigantyczną rakietę Saturn V, 
        która miała wynieść statki kosmiczne Apollo. Rakieta wraz z modułem załogowym miała 111 metrów wysokości, 
        a całkowita masa startowa wynosiła prawie 3000 ton.<br />
        Zadanie zostało zrealizowane w 1969 roku, w czasie misji Apollo 11. Program Apollo był kontynuowany do roku 1972 w celu przeprowadzenia 
        dokładniejszej naukowej eksploracji Księżyca. Warto podkreślić, że Amerykanie lądowali na Księżycu sześciokrotnie. 
        Całkowity koszt programu wyniósł 25,4 miliarda dolarów. Ilość pozyskanego i dostarczonego na Ziemię materiału to 381,7 kg 
        (ponad dwa tysiące próbek). Lądowanie człowieka na Księżycu wymagało zaledwie sześciu lotów próbnych.
    </div>
</body>
</html>